@using BusinessManager.Models.ViewModels
@model List<BusinessManager.Models.Category>

@{
    ViewData["Title"] = "Categorías";
}

@await Html.PartialAsync("_PageHeader", new PageHeaderViewModel
{
    Title = "Categorías",
    ButtonText = "Crear",
    ButtonUrl = "#",
    ButtonClass = "",
    ButtonId = "btnCreateCategory",
    ButtonIcon = "bi bi-plus-square-fill"
})

<table class="table mt-2 table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@Html.DisplayFor(u => category.Name)</td>
                <td>@(category.IsActive ? "Activo" : "Inactivo")</td>
                <td class="text-end">
                    <a href="#" class="btn btn-sm btn-outline-dark me-1 btn-edit-category" data-id="@category.CategoryId" title="Editar">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/utils/modalManager.js" asp-append-version="true"></script>
}