@model BusinessManager.Models.ViewModels.RolViewModel
@using BusinessManager.Models

<div class="modal-header">
    <h5 class="modal-title" id="rolModalLabel">@ViewBag.ModalTitle</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form id="rolForm" asp-action="@ViewBag.ActionName" asp-route-id="@Model.RolId" method="post">
    <div class="modal-body">
        @Html.AntiForgeryToken()

        @if (Model != null && Model.RolId != 0)
        {
            <input type="hidden" asp-for="RolId" />
        }

        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>

<script>
    // Validación del lado del cliente
    if ($.validator && $.validator.unobtrusive) {
        $.validator.unobtrusive.parse("#rolForm");
    }
</script>